.booked__background {
  height: 100vh;
  text-align: center;
  background-color: rgba(111, 172, 213, 0.4);
  overflow: auto;
}

.booked__classes {
  position: relative;
  color: #fff;
  margin: 0 auto;
  width: 80%;
  text-align: center;
  padding: 10px;
  top: 6rem;
  transition: 0.3s;
  border-radius: 23px;
  line-height: 1;
  display: flex;
  flex-flow: row;
  justify-content: center;
}
