.signup__background {
  text-align: center;
  height: 100vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(111, 172, 213, 0.4),
      rgba(83, 134, 211, 0.4)
    ),
    url('../../../assets/images/gym2.jpeg');
  background-size: cover;

  & .signup {
    position: relative;
    top: 50px;
    margin: 20px auto;
    width: 40%;
    text-align: center;
    background-image: linear-gradient(
      to right bottom,
      rgba(111, 172, 213, 0.8),
      rgba(83, 134, 211, 0.8)
    );
    padding: 10px;
    box-sizing: border-box;
    transition: 0.3s;
    border-radius: 5px;
    // box-shadow: 0 2px 3px #ccc;
    // box-shadow: 1px 4px 6px 1px rgba(0, 0, 0, 15);

    &:hover {
      box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 10);
    }

    & .signup__form input {
      font-weight: 700;
    }
  }
}

@media (min-width: 600px) {
  .signup {
    width: 500px;
  }
}
