.Button {
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  border-radius: 10px;
  padding: 5px 10px 5px 10px !important;
  margin: 10px !important;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  font: inherit;
}

.Btn > * {
  transition: all 0.2s;
}

.Button:first-of-type {
  margin-left: 0;
  padding-left: 0;
}

.Button:disabled {
  color: #ccc;
  cursor: not-allowed;
}

.Success {
  background-image: linear-gradient(to right, #00cc00, #009900);
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.3);
  color: black !important;
  font-size: 16px;
  width: 6rem;
}

.Success:focus,
.Success:hover {
  outline: none;
  // animation: pulsate 1s infinite;
}

.Danger {
  background-image: linear-gradient(to right, #b30000, #800000);
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.3);
}

.Danger:focus,
.Danger:hover {
  outline: none;
  // animation: pulsate 1s infinite;
}

.Signup {
  padding: 8px 20px 8px 20px !important;
  background-image: linear-gradient(
    to right,
    rgba(252, 180, 86, 0.925),
    rgba(255, 145, 0, 0.925)
  );
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.3);
}

.Signup:focus,
.Signup:hover {
  outline: none;
  // animation: pulsate 1s infinite;
}

.Edit {
  background-color: #dcd800 !important;
  color: black !important;
  font-size: 16px;
  width: 4rem;
  box-shadow: 0 1rem 6rem rgba(0, 0, 0, 0.3);
  // background-image: linear-gradient(to right, #ffee00, #b4b102);
}

.Edit:focus,
.Edit:hover {
  outline: none;
  // animation: pulsate 1s infinite;
}

// @keyframes pulsate {
//   0% {
//     transform: scale(1);
//     box-shadow: none;
//   }

//   50% {
//     transform: scale(1.1);
//     box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
//   }

//   100% {
//     transform: scale(1);
//     box-shadow: none;
//   }
// }
