.BackGround {
  text-align: center;
  /* height: 100vh; */
  height: 120vh;
  background-image: linear-gradient(to right bottom, rgba(111, 172, 213, 0.4), rgba(83, 134, 211, 0.4)), url('../../assets/images/gym2.jpeg');
  background-size: cover;
}

.Profile:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

@media (min-width: 600px) {
  .Profile {
    width: 500px;
  }
}


